@model ImageViewModel

@{
    ViewData["Title"] = "Result";
    var nameOfFileToPresent = "/images/" + Model.FileGuidName + ".jpg";
}

<div class="container text-center">
    <h3>@Model.FileGuidName</h3>

    <img src="@nameOfFileToPresent" class="text-center"/>

    @foreach (var item in Model.TextAnalysis)
    {
        <p class="text-center">@item</p>
    }
</div>