@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center">
    <a class="btn btn-lg btn-primary text-white" asp-area="" asp-controller="ObjectDetection" asp-action="Detect">Object Detection</a>
</div>